<div class="page_content">
  <h2>About Us</h2>

  <div class="about_api_description">
    There's one force factor that's driving web innovation above all others today: APIs. We're addicted to them, and our users are too!<br /><br />
    Our service allows users to create an account, post new APIs to share, then gives other users the opportunitiy to rate, review, and upvote them.<br>
  </div>
  
  <h3>Features</h3>
    <ul>
      <li>User signs up</li>
      <li>User uploads a profile picture</li>
      <li>User adds an API</li>
      <li>User reviews existing API</li>
      <li>User upvotes or downvotes API (user can only vote once)</li>
      <li>API creater recieves email when someone reviews their</li>
      <li>Admin deletes content they deem innapopropriate</li>
      <li>Admin deletes user account if they violate terms of use</li>
    </ul>
  
  <h3>Technologies Utilized</h3>
    <ul>
      <li> Rails</li>
      <li>Ajax</li>
      <li>JQuery</li>
      <li>Devise (User Authentication)</li>
      <li>CarrierWave (Photo Uploads)</li>
      <li>Will_Paginate (Pagination)</li>
      <li>Amazon S3 Service</li>
      <li>Factory_Girl (Test Data)</li>
      <li>Mailgun (ActionMailer)</li>
    </ul>

  <h3>Development Team</h3>
    <ul>
      <li>Matt Thompson</li>
      <li>Brett Mordas</li>
      <li>Majid Ihsan</li>
      <li>Eric Fournier</li>
    </ul>
</div>
