.api_info {
  width: 100%;
  min-height: 40%;
}

.votes {
  min-height: 20%;
}

.score {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
}

.review_container {
  width: 100%;
  background-color: #cacaca;
  margin-bottom: 15px;
}

.upvote_frame {
  height: 100%;
  min-width: 60px;
  display: inline-block;
  position: absolute;
  left: 15px;
}

.upvote_body {
  position: relative;
  top: 10px;
}

.upvote {
  text-align: left;
  display: inline-block;
  margin-right: 10px;
}

.review {
  width: 100%;
  min-height: 40%;
}

.review_content {
  max-width: 90%;
  display: inline-block;
  margin-left: 60px;
}

.review_body {
  height: 100%;
}

.api_description {
  background-color: #cacaca;
  margin-top: 15px;
  margin-bottom: 16px;
}

.posted_by {
  min-width: 100%;
  background-color: #cacaca;
  margin-bottom: 15px;
}

.link a {
  color: #0076b3;
  font-weight: bold;
}

.title {
  font-weight: bold;
  text-decoration: underline;
}

.submit_button_dark {
  height: 40px;
  width: 110px;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #1e1e1e;
  margin-bottom: 15px;
}

a.review_crud_button {
  height: 40px;
  width: 110px;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #008CBA;
  margin: 0px 10px 15px 0px;
  padding: 4px;
}
