.api_info {
  width: 100%;
  min-height: 40%;
}

.votes {
  min-height: 20%;
}

.review_crud_buttons {
  display: inline-block;
}

.review {
  width: 100%;
  min-height: 40%;
}

.api_description {
  background-color: #878787;
}

.posted_by {
  min-width: 100%;
  background-color: #878787;
}

.link a {
  color: #0076b3;
  font-weight: bold;
}

.title {
  font-weight: bold;
  text-decoration: underline;
}
