.api_info {
  width: 100%;
  min-height: 40%;
}

.votes {
  min-height: 20%;
}

.review_container {
  width: 100%;
  background-color: #cacaca;
  margin-bottom: 15px;
}

.upvote {
  text-align: left;
  display: inline-block;
  margin-right: 10px;
}

.review_content {
  display: inline-block;
}

.review_crud_buttons {
}

.review_body {
  display: inline-block;
}

.review {
  width: 100%;
  min-height: 40%;
}

.api_description {
  background-color: #cacaca;
}

.posted_by {
  min-width: 100%;
  background-color: #cacaca;
}

.link a {
  color: #0076b3;
  font-weight: bold;
}

.title {
  font-weight: bold;
  text-decoration: underline;
}
