.api_frame {
  width: 80%;
  left: 0;
  top: 95px;
}

.trending_api {
  width: 95%;
	height: 85px;
	background-color: #5799b1;
	margin: 2% auto 2% auto;
	border-radius: 45px;
	display: flex;
  white-space: nowrap; 
  overflow: hidden;
}

.trending_api_info {
  width: 65%;
  height: 100%;
	padding-left: 40px;
  padding-top: 7px;
  white-space: nowrap; 
  overflow: hidden;
}

.trending_api_info a {
  white-space: nowrap;
  overflow: hidden;
}

.trending_api_rating {
  width: 20%;
  height: 100%;
	background-color: #eaeaea;
  white-space: nowrap; 
  overflow: hidden;
}

.trending_api_review_button {
	min-width: 110px;
	height: 100%;
  text-align: center;
	font-size: 22px;
	text-decoration: underline;
	color: #eaeaea;
  white-space: nowrap; 
  overflow: hidden;
}

.rating_fill {
  min-height: 20px;
}

.rating_stars {
	text-align: center;
  min-width: 100px;
}

.rating_score {
	text-align: center;
}

.review_button_fill {
  min-height: 25px;
}

.categories_menu {
  position: absolute;
  right: 0;
  top: 94px;
  min-width: 150px;
  min-height: 90%;
  background-color: #757575;
}

.category_container {
  width: 100%;
  min-height: 10.8vh;
  border-style: solid;
  border-color: #9e9e9e;
  border-width: 0px 0px 1px 0px;
  font-size: 20px;
  font-weight: bold;
  line-height: 10.8vh;
  text-align: center;
  color: #e0e0e0;
}

.pagination_links {
  padding: 10px;
  margin-bottom: 10px;
  width: 80%;
  left: 0;
}
