.api_frame {
  width: 80%;
  position: absolute;
  left: 0;
  top: 95px;
}

.trending_api {
  width: 70%;
	height: 85px;
	background-color: #5799b1;
	margin: 5% auto 5% auto;
	border-radius: 45px;
	display: flex;
}

.trending_api_info {
  width: 56%;
  height: 100%;
	padding-left: 40px;
}

.trending_api_rating {
  width: 20%;
  height: 100%;
	background-color: #eaeaea;
}

.trending_api_review_button {
	width: 22%;
	height: 100%;
  text-align: center;
	font-size: 22px;
	text-decoration: underline;
	color: #eaeaea;
}

.rating_fill {
  min-height: 20px;
}

.rating_stars {
	text-align: center;
}

.rating_score {
	text-align: center;
}

.review_button_fill {
  min-height: 25px;
}

.categories_menu {
  position: fixed;
  right: 0;
  top: 94px;
  min-width: 150px;
  min-height: 90%;
  background-color: #757575;
}

.category_container {
  width: 100%;
  min-height: 10.8vh;
  border-style: solid;
  border-color: #9e9e9e;
  border-width: 0px 0px 1px 0px;
  font-size: 20px;
  font-weight: bold;
  line-height: 10.8vh;
  text-align: center;
  color: #e0e0e0;
}

