
.index-container {
  height: 80%;
  width: 100%;
}

.api-frame {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.trending-api {
  width: 95%;
	height: 85px;
	background-color: #5799b1;
	margin: 1.5% auto 1.5% auto;
	border-radius: 45px;
	display: flex;
  white-space: nowrap; 
  overflow: hidden;
}

.trending-api-info {
  width: 65%;
  height: 100%;
	padding-left: 40px;
  padding-top: 7px;
  white-space: nowrap; 
  overflow: hidden;
}

.trending-api-info a {
  white-space: nowrap;
  overflow: hidden;
}

.trending-api-rating {
  width: 20%;
  height: 100%;
	background-color: #eaeaea;
  white-space: nowrap; 
  overflow: hidden;
}

.trending-api-review-button {
	min-width: 110px;
	height: 100%;
  text-align: center;
	font-size: 22px;
	text-decoration: underline;
	color: #eaeaea;
  white-space: nowrap; 
  overflow: hidden;
}

.rating-fill {
  min-height: 20px;
}

.rating-stars {
	text-align: center;
  min-width: 100px;
}

.rating-score {
	text-align: center;
}

.review-button-fill {
  min-height: 25px;
}

.categories-menu {
  position: absolute;
  right: 0;
  top: 94px;
  min-width: 150px;
  min-height: 90%;
  background-color: #757575;
}

.category-container {
  width: 100%;
  min-height: 10.8vh;
  border-style: solid;
  border-color: #9e9e9e;
  border-width: 0px 0px 1px 0px;
  font-size: 20px;
  font-weight: bold;
  line-height: 10.8vh;
  text-align: center;
  color: #e0e0e0;
}

.pagination-links {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
