/*
 *= require_tree .
 *= require_self
 //= require foundation_and_overrides
 */

body {
	background-color: #b9b9b9;
  font-family: 'Roboto', sans-serif;
}

h3 {
	color: #252525;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.centered {
	text-align: center;
	margin: auto;
}

.page_content {
  padding: 10px;
}
