.top-bar {
  padding: 0px;
  height: 55px;
  width: 100%;
  display: flex;
}

.top-bar-section {
	width: 100%;
}

.top-bar-section ul li a {
	height: 55px;
	width: 100px;
	font-size: 12px;
	display: table-cell;
	vertical-align: middle;
	background: green;
	text-align: center;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
}

.top-bar-section li:not(.has-form) a:not(.button):not(.submit):not(.button-xs) {
  background: #043344;
	line-height: 150%;
}

.has-form {
  position: absolute;
  right: 0;
  text-align: right;
  margin-top: 4px;
  overflow: hidden;
  padding-right: .5em;
}

.has-form input {
}

.submit-button {
  width: 20px;
}
