.top-bar {
  padding: 0px;
  height: 55px;
}

.top-bar a {
  background-color: #043344 !important;
  text-align: center;
}

.top-bar li a {
  width: 15%; 
}

a.alert.button.expand {
  text-align: center;
  max-width: 75px !important;
}

li.has-form {
  padding: 0px !important;
}


.top-bar a:hover {
  background-color: #042c3b !important;
}

.top-bar-section ul li a {
	height: 55px;
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
}

.has-dropdown a {
  background-color: green;
}

.has-form {
  position: absolute;
  right: 0;
  text-align: right;
  margin-top: 4px;
  overflow: hidden;
  padding-right: .5em;
}

.has-form input {
}

.submit-button {
  width: 20px;
}
