<nav class="top-bar" role="navigation" >
  <ul class="title-area">
    <li class="name"><%= link_to 'Home', root_path %></li>
  </ul>
  <section class="top-bar-section">
      <%= render 'layouts/navigation_links' %>
  </section>
</nav>
